
.menuitem:hover {
  color: #FFFFFF;
}
.navbtn{
  width:50px;
  height:19px;
  margin-right:-40px;
  margin-top:30px;
}
.arrowbtn,
.arrowbtnShow{
  display:flex;
  color: #898F9E;
  border-radius: 10px;
  background-color: #ECEEF0;

  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: -20px; */
  padding:2px 4px 3px 5px;

}

.logo{
  /* height:69px; //不可以fix，否则不responsive */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid white; */
  /* border-right: 1px solid white; */
  width:171px;
  /* margin:3px; */
}

/* .logosvg,
.logoname{
  display:flex;
  padding:10px 22px;
  font-size: 12px;
  margin:3px;
} */
.menuitem{
  color:#898F9E;
  padding:3px;
  margin:18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menuicon{


  display: flex;
}

.sidewrapper,
.sidewrapperClose{
  width:171px;
  background-color:#141414;
  color: #898F9E;
  height:100%;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
}

.sidewrapperClose{
  width:100px;

}